body {
    background-color: darkblue;
}
.blockspace { margin-top: 500px; }

.stopwatch {
            font-family: "Lucida Console", Monaco, monospace;
            color: white;
            font-size: 200px; 
         }
.helptext {
            font-family: "Lucida Console", Monaco, monospace;
            color: white;
            font-size: 15px; 
         }

.numberbox {
  font-family: "Lucida Console", Monaco, monospace;
  color: white;
  font-size: 15px; 
  width: 100px;
}

         .startbutton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px 37px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
         .stopbutton {
  background-color: #FF0000;
  border: none;
  color: white;
  padding: 20px 37px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

